@import url("https://fonts.googleapis.com/css2?family=Foldit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anta&family=Foldit:wght@100..900&");
@import url("https://fonts.googleapis.com/css?family=Telex:regular");

#root {
  max-width: 1280px;
  margin: auto;
  text-align: center;
  background-color: black;
}

.hero {
  margin: 0 auto;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  padding: 0.5em;
  text-align: start;
  background: linear-gradient(45deg, black, rgb(53, 49, 49), darkblue, blue);
}

.grid {
  width: auto;
  display: grid;
  grid-template-areas: "a a a";
  gap: 20px;
}

.logo {
  height: 15em;
  padding: 1.5em;
  align-items: center;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.hero-text {
  margin: auto;
  grid-area: "a a a";
  align-items: auto;
  font-family: "Anta", "Telex", "Foldit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
  text-shadow: darkgrey;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
